.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 27px;
  height: 47px;

  &__logo img {
    width: 145px;
  }

  &__nav {
    display: flex;
    gap: 27px;
    font-size: 12px;
  }
}
