@use "../../assets/styles/base/mixins" as *;

.layoutContainer {
  @include flex(column, null, null);
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;

  &__content {
    flex: 1;
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .layoutContainer {
    &__content {
      padding: 0 60px;
    }
  }
}

@media (min-width: 992px) {
  .layoutContainer {
    &__content {
      padding: 0 100px;
    }
  }
}
