@use "base/reset";
@use "base/mixins" as *;
@use "base/variables" as *;

@use "pages/about";
@use "pages/notFound";
@use "pages/rentalDetails";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: $medium;
  font-size: 16px;
}

a {
  color: $secondary;

  &.active {
    text-decoration: underline;
  }
}
