@use "../../assets/styles/base/variables" as *;
@use "../../assets/styles/base/mixins" as *;

.footer {
  @include flex(column, center, center);
  flex-shrink: 0;
  gap: 10px;
  height: 209px;
  background-color: #000;

  &__logo img {
    width: 122px;
  }

  &__copyright {
    @include flex(column, null, center);
    color: $tertiary;
    font-size: 0.75rem;
  }
}

@media (min-width: 768px) {
  .footer {
    gap: 25px;

    &__copyright {
      flex-direction: row;
      font-size: 1rem;
    }
  }
}

@media (min-width: 992px) {
  .footer {
    gap: 40px;

    &__copyright {
      font-size: 1.5rem;
    }
  }
}
